# ignore everything
*

# except ... 
!.gitignore

!**/*.css
!**/*.js
!**/*.html
!**/*.drawio
!**/*.png

!*Model
!*View
!*Controller

!package.json
!package-lock.json

!.eslintrc-browser.json
!.eslintrc-node.json