#root {
  height: 100vh;
}

.header{
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: beige;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 80vh;
}
.schema{
  display: flex;
}
.container {
  display: flex;
}