.Panel{
    padding: 1%!important;
}
.ListItemButton{
    width: auto;
    height: inherit;
    background-color: #1793d1 !important;
}

.InfoBox{
    box-shadow: 1;
    border-radius: 2;
    padding: 0.2;
}

.TextPlace{
    padding-left: 15px;
    padding-top: 10px;
}

.StackPanel{
    height: auto !important;
    overflow-y: auto;
    max-height: 100vh!important;
    min-height: 100vh;
}