#brandColor{
    background-color: (23,147,209,1);
}

#backGroundColor{
    background-color: (23,147,209,0.85);
}

#whiteColor{
    background-color: (23,147,209,0.95);
}

#borderColor{
    background-color: (122,207,250,0.7);
}

#secondaryColor{
    background-color: (150,220,255,0.7);
}