#root {
  position: absolute;
}
#App{
  position: absolute;
  width: 100vmax;
  height: 100vh;
}
#Stack{
  height: 60vh;
  width: 100vmax;
}
#CoworkerList{
  display: flex;
  flex-direction: column;
}
#NextMeeting {
  display: flex;
  flex-direction: column;
}
#Calandar{
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  align-items: left;
  background-color: beige;
  height: 6vh;
  width: 100vmax;
}


